.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hi {
  background-color: aquamarine;
  width: 10%;
}

.correct {
  background-color: aqua;
  width: 20%;
}